/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/
.owl-carousel {
    margin: 50px auto;
}
.owl-carousel > a {
        font-family: Roboto;
        font-size: 22px;
        text-align: justify;
        vertical-align: text-top;
    }
.owl-theme .owl-controls{
display: none!important;
margin-top: 10px;
text-align: center;
}

/* Styling Next and Prev buttons */
    .owl-theme .owl-controls .owl-buttons div {
        position: absolute;
        top: 100%;
        padding: 80px 20px;
        -webkit-transform: translate(0,-50%);
        -moz-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
    }
.owl-theme .owl-controls .owl-buttons div.owl-prev {
        left: 0;
        font-weight: 600;
        color: #556d8c;
    }
.owl-theme .owl-controls .owl-buttons div.owl-next {
        right: 0;
        font-weight: 600;
        color: #556d8c;
    }
@media (min-width:260px) {
    .owl-theme .owl-controls .owl-buttons div.owl-prev, .owl-theme .owl-controls .owl-buttons div.owl-next {
        font-size: 60px;
    }
}
@media(min-width:768px) {

    .owl-theme .owl-controls .owl-buttons div.owl-prev, .owl-theme .owl-controls .owl-buttons div.owl-next {
        font-size: 100px;
    }
}


/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: none;
	width: 6px;
	height: 6px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}