﻿{% extends base %}

{% load staticfiles %}
{%block mystyle%}
		<link rel="stylesheet" href="{% static 'app/content/style.css' %}">	
{%endblock%}
{%block lang%}
    <ul class="nav navbar-nav">
            {% load i18n %}
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                {% language lang_code %}
                    {%if lang_code == 'kk' %}
                        <li class="nav-item "><a class="nav-link" href="{% url 'about1' %}">KZ</a></li>
                    {%else%}
                         <li class="nav-item "><a class="nav-link" href="{% url 'about1' %}">{{ lang_code }}</a></li>
                    {%endif%}
                {% endlanguage %}
            {% endfor %}
        </ul>     
{%endblock%}
{%block navbar%}
{%endblock%}
{%block home%}  
        <section id="home" >			
			<img class="home_video html-video" src="{% static 'app/img/background.jpg' %}">
			<div class="hero-text slider-caption text-center">
                {%if lg == 'kk'%}
                <h2 style="padding-left:200px;"> Қазақстан туризмі туралы</h2>
				<h1 style="padding-left:200px;">интерактивті портал </h1>
                {%else%}
                <h1 style="padding-left:200px;">{% trans "Интерактивный Портал" %} </h1>
                <h2 style="padding-left:200px;"> {% trans "о туризме казахстана" %}</h2>	
                {%endif%}
			</div>
		</section>         
{%endblock%}
{%block navbar2%}
        <div class="navbar-collapse collapse" id="navbar-second">
            <ul class="nav navbar-nav" style="position: relative;  left: 50%; transform: translatex(-50%);  margin-top: -15px; display: inline-table;" >
                <li class="nav-item"><a class="nav-link" href="{%url 'home' %}">{% trans "Главная" %}</a></li>
                <li class="nav-item active"><a class="nav-link" href="{%url 'about1' %}">{% trans "О проекте" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="/{{lg}}/#regatlas">{% trans "Атлас регионов" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="/{{lg}}/#attraction_map">{% trans "Карта достопримечательностей" %}</a></li> 
                <li class="nav-item"><a class="nav-link" href="/{{lg}}/#beautiful_places">{% trans "Красивые места" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="/{{lg}}/#infoatlas">{% trans "Инфоатлас" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'atlas' %}">{% trans "Казахстан в цифрах" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'tourists' %}">{% trans "Для туристов" %}</a></li>
            </ul>   
        </div>
 {%endblock%}
{%block content%}
<div class="container">
            <div class="article" style="padding-bottom:60px; padding-top:60px;">
                <h1>{% trans "Диверсификация сферы туризма Республики Казахстан в условиях перехода к цифровой экономике: стратегии и механизмы реализации" %} </h1>
                <p> {% trans "Целью научно-технической программы является реализация программы «Государственная программа инфраструктурного развития «Нұрлы жол» на 2015–2019 годы» и «Концепции развития туристской отрасли Республики Казахстан до 2023 года» (Постановление Правительства Республики Казахстан от 30 июня 2017 года №406) и  реализация Послания Президента Республики Казахстан Нурсултана Назарбаева народу Казахстана от 27 января 2017 года «Третья модернизация Казахстана: глобальная конкурентоспособность. Программа направлена на повышение эффективности туризма в Республике Казахстан за счет расширения сфер применения цифровых технологий в рамках третьей технологической модернизации страны." %} </p>
                <p> {% trans "Для достижения поставленной цели были сформулированы следующие задачи:" %}</p>
                <ol>
                    <li>{% trans "Сформировать интеграционную модель организации сферы туризма в Республике Казахстан, базирующуюся на конкурентных преимуществах территорий Республики." %}</li>
                    <li>{% trans "Разработать алгоритм формирования диверсификации отрасли цифрового туризма на основе изучения мирового опыта." %}</li>
                    <li>{% trans "Создать собственную цифровую платформу на базе карты рекреационных зон в РК." %}</li>
                    <li>{% trans "Предложить методические подходы по диверсификации сферы туризма Республики Казахстан, в основе которых заложено государственно-частное партнерство" %}.</li>
                    <li>{% trans "Выявление латентных факторов, сдерживающих внедрение и освоение новых видов туризма для обеспечения цифровой экономической выгоды." %}</li>
                </ol>
                <p> {% trans "По данной теме проводились исследования в различных странах и в Казахстане в том числе. Однако предлагаемые в программе модели модернизации и диверсификации носят инновационный характер. Научная новизна программы заключается в создании новой системы оценки состояния сферы туризма регионов через предложение новой совокупности индикаторов диагностики внедрения и освоения туристического потенциала участниками бизнес процесса. Кроме того, в ходе выполнения программы будет разработан механизм расширения области внедрения цифровых технологий в сферу туризма, создания цифровой платформы на базе карты рекреационных зон в Казахстане." %}</p>
                <p> {% trans "Программа является междисциплинарным, на стыке нескольких дисциплин и охватывает большой круг заинтересованных  организаций  и органов государственного управления, в частности - Министерство национальной экономики РК, Министерство по инвестициям и развитию РК, Министерство образования и науки РК, Министерство культуры и спорта РК, Министерство по делам религии и гражданского общества РК, Министерство информации и коммуникации РК, научно-исследовательские организации, высшие учебные заведения." %}</p>
                <p> {% trans "Полученные результаты будут способствовать качественному  социально-экономическому развитию страны и даст возможность повысить благосостояние жителей сельских регионов, развитием современной коммуникации в селах и малых городах, внедрением новых образовательных технологий обучения, повышением квалификации местных предпринимателей, уровня информированности населения." %}</p>
            </div>    
        </div>	
{%endblock%}	
{%block myscript%}
<script src="{% static 'app/scripts/scripts.js' %}"></script>
{%endblock%}	    
	  