﻿{% extends base %}

{% load staticfiles %}
{%block mystyle%}
		<link rel="stylesheet" href="{% static 'app/content/atlas_style.css' %}">	
{%endblock%}
{%block lang%}
     <ul class="nav navbar-nav">
            {% load i18n %}
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                {% language lang_code %}

                {%if lang_code == 'kk' %}
                        <li class="nav-item "><a class="nav-link" href="{% url 'atlas' %}">KZ</a></li>
                    {%else%}
                         <li class="nav-item "><a class="nav-link" href="{% url 'atlas' %}">{{ lang_code }}</a></li>
                    {%endif%}

                
                {% endlanguage %}
            {% endfor %}
        </ul>     
{%endblock%}
{%block navbar%}
{%endblock%}
{%block home%}  
        <section id="home" class="atlas_main_img" style="background-image: url({% static 'app/img/atlas.jpg' %});  background-size:cover; background-position: center center;">			
			<div class="container-fluid">
				<div class="row">
				  <div class="col-md-12 text-center">
					<div class="hero-text">
                        <h1>{% trans "Инфоатлас" %} &quot;{% trans "Туризм в цифрах" %}&quot;</h1>
					</div>
				  </div><!--- END COL -->			  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
{%endblock%}
{%block navbar2%}
        <div class="navbar-collapse collapse" id="navbar-second">
            <ul class="nav navbar-nav" style="position: relative;  left: 50%; transform: translatex(-50%);  margin-top: -15px; display: inline-table;" >
                <li class="nav-item"><a class="nav-link" href="{%url 'home' %}">{% trans "Главная" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'about1' %}">{% trans "О проекте" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="/{{lg}}/#region_atlas">{% trans "Атлас регионов" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="/{{lg}}/#attraction_map">{% trans "Карта достопримечательностей" %}</a></li> 
                <li class="nav-item"><a class="nav-link" href="/{{lg}}/#beautiful_places">{% trans "Красивые места" %}</a></li>
                <li class="nav-item active"><a class="nav-link" href="/{{lg}}/#infoatlas">{% trans "Инфоатлас" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'atlas' %}">{% trans "Казахстан в цифрах" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'tourists' %}">{% trans "Для туристов" %}</a></li>
            </ul>   
        </div>
{%endblock%}

{%block content%}
    <div class="atlas_main">
        <div class="container-fluid">
            <div class="row">
              
                <div class="col-md-12" data-aos="fade-up">
                    <div class="section-title text-center">
                        <h1>{% trans "О казахстане в цифрах" %}</h1>
                    </div>
                </div><!-- END COL -->
		    </div><!-- END ROW -->
        </div>

        <!-- Административно-территориальное устройство -->
		<div class="container-fluid">   
                <div class="row">
					<div class="col-md-12" data-aos="fade-up">
						<div class="section-title text-center">
							<h2>{% trans "Административно-территориальное устройство" %}</h2>
                            <span></span>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
				<div class="row text-center">
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2 class="counter-num">14</h2>
							<h3>{% trans "областей" %}</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2 class="counter-num">2</h2>
							<h3>{% trans "города республиканского значения" %}</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2 class="counter-num">177</h2>
							<h3>{% trans "административных районов" %}</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete brnone">
							<h2 class="counter-num">87</h2>
							<h3>{% trans "административных районов" %}</h3>
					    </div>
					</div><!-- END COL -->

                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete brnone">
							<h2 class="counter-num">30</h2>
							<h3>{% trans "поселков" %}</h3>
						</div>
					</div><!-- END COL -->
                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete brnone">
							<h2 class="counter-num">6668</h2>
							<h3>{% trans "сельских населенных пунктов" %}</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2 class="counter-num">17918.2</h2>
							<h3>{% trans "численность населения на 01.01.2017г." %}</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2 class="counter-num">6.6</h2>
							<h3>{% trans "чел. на 1 кв.км. " %}<br />{% trans "Плотность населения" %}</h3>
						</div>
					</div><!-- END COL -->
                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete brnone">
							<h1>{% trans "Карагандинская" %} <br /> {% trans "область" %}</h1>
							<h3>{% trans "самая крупная по площади" %} <br /> ({% trans "428 тыс. кв.км." %})</h3>
						</div>
					</div><!-- END COL -->
                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h1 >{% trans "Астана" %}</h1>
							<h3>{% trans "столица" %} <br /> {% trans "(население 972,7 тыс. чел.)" %} </h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete brnone">
							<h1 >{% trans "Алматы" %}</h1>
							<h3>{% trans "самый крупный город" %} <br /> {% trans "(население 1751,3 тыс. чел.)" %}</h3>
					</div>
					</div><!-- END COL -->
                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete brnone">
							<h1 >{% trans "Южно-Казахстанская" %} <br />{% trans "область" %}</h1>
							<h3>{% trans "самая густонаселенная" %} <br /> ({% trans "24,5 чел. на 1 кв.км." %}) </h3>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
                <div class="info-text" data-aos="fade-up">
                    <h1>{% trans "Байконур — первый и крупнейший в мире космодром" %}    </h1>
                    <h2>({% trans "площадь 6717 кв.км., более 600 запусков ракет в космос, сегодня используется для отправки космонавтов на МКС." %})</h2>
                </div>
			</div><!-- END CONTAINER -->
		<!-- END COUNTER -->

        <!-- Географические характеристики -->
		<div class="container-fluid">   
                <div class="row">
					<div class="col-md-12" data-aos="fade-up">
						<div class="section-title text-center">
							<h2>{% trans "Географические характеристики" %}</h2>
                            <span></span>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
				<div class="row text-center">
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h1>{% trans "Европа и Азия" %}</h1>
							<h3>{% trans "Казахстан расположен на стыке двух континентов" %}</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2>2724.9 <b style="font-size:22px;"> {% trans "тыс.кв.км." %} </b></h2>
							<h3 style="padding-left:15px; padding-right:15px;">{% trans "территория Казахстана простирается от низовьев реки Волга на западе - до гор Алтая на востоке и от гор Заилийского Алатау Северного Тянь-Шаня на юге - до Западно-Сибирской низменности на севере" %}</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2>9 <b style="font-size:22px;">{% trans "в мире" %}  &nbsp;</b> 2 <b style="font-size:22px;">{% trans "в СНГ" %}</b></h2>
							<h3>{% trans "место страны по площади земельуступает лишь России, Китаю, США, Аргентине, Бразилии, Канаде, Индии и Австралии" %}.</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2 >13394 <b style="font-size:22px;"> {% trans "км." %} </b> </h2>
							<h3 style="padding-left:15px; padding-right:15px;">{% trans "в том числе: с Российской Федерацией – 7591 км., Республикой Узбекистан – 2354 км., Кыргызской Республикой – 1241 км, Китаем – 1782 км., Туркменистаном – 426 км." %}</h3>
					    </div>
					</div><!-- END COL -->
                    
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		<!-- END COUNTER -->
        
       <!-- Горные массивы Казахстана -->
		<div class="container-fluid">  
                <div class="row">
					<div class="col-md-12" data-aos="fade-up">
						<div class="section-title text-center">
							<h2>{% trans "Горные массивы Казахстана" %}</h2>
                            <span></span>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
				<div class="row text-center">
					<div class="col-md-6 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2 class="counter-num">6995</h2>
							<h3><b style="font-size:22px;">{% trans "Пик Хан-Тенгри" %} </b><br /> ({% trans "хребет Сарыжаз" %}) </h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-6 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2 class="counter-num">6276</h2>
							<h3><b style="font-size:22px;">{% trans "Пик 100 лет ВГО" %} </b><br />({% trans "хребет Меридианальный" %})</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2 class="counter-num">4979</h2>
							<h3><b style="font-size:22px;">{% trans "Пик Талгар" %} </b><br />({% trans "Илейский Алатау" %})</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete brnone">
							<h2 class="counter-num">4653</h2>
							<h3><b style="font-size:22px;">{% trans "Гора Ишанбулак" %}</b> <br />({% trans "Кунгей Алатау" %})</h3>
					</div>
					</div><!-- END COL -->
                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete brnone">
							<h2 class="counter-num">4622</h2>
							<h3><b style="font-size:22px;">{% trans "Гора Бесбаскан" %}</b> <br />({% trans "Жетысуский Алатау" %})</h3>
						</div>
					</div><!-- END COL -->
                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete brnone">
							<h2 class="counter-num">4600</h2>
							<h3><b style="font-size:22px;">{% trans "Гора Металлург" %} </b> <br />({% trans "Илейский Алатау" %})</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2 class="counter-num">4506</h2>
							<h3><b style="font-size:22px;">{% trans "Пик Музтау" %}</b> <br /> ({% trans "Алтай, хребет Катын" %})</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2 class="counter-num">4482</h2>
							<h3><b style="font-size:22px;">{% trans "Пик Манас" %} </b><br />({% trans "хребет Талас" %})</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
							<h2 class="counter-num">4427</h2>
							<h3><b style="font-size:22px;">{% trans "Гора Ашутор" %} </b><br />({% trans "Терискей Алатау" %})</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete brnone">
							<h2 class="counter-num">4330</h2>
							<h3><b style="font-size:22px;">{% trans "Пик Комсомола" %} </b><br />({% trans "Илейский Алатау" %})</h3>
					</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		<!-- END COUNTER -->

        <!-- Реки Казахстана -->
		<div class="container-fluid">   
                <div class="row">
					<div class="col-md-12" data-aos="fade-up">
						<div class="section-title text-center">
							<h2>{% trans "Самые длинные реки Казахстана" %}</h2>
                            <p style="font-size:20px; font-style:italic;">{% trans "На территории республики протекает 85022 реки и временных водотока" %}</p>
                            <span></span>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
				<div class="row text-center">
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
                            <h2 class="counter-num">4248 </h2>
                            <h3>{% trans "км" %}</h3>
							<h1>{% trans "река Иртыш" %}</h1>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
                            <h2 class="counter-num">2450 </h2>
                            <h3>{% trans "км" %}</h3>
							<h1>{% trans "река Есиль" %}</h1>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
                            <h2 class="counter-num">2428 </h2>
                            <h3>{% trans "км" %}</h3>
							<h1>{% trans "река Жайык" %}</h1>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
                            <h2 class="counter-num">2212 </h2>
                            <h3>{% trans "км" %}</h3>
							<h1 >{% trans "река Сырдарья" %}</h1>
					    </div>
					</div><!-- END COL -->                    
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		<!-- END COUNTER -->

      <!-- Озера Казахстана -->
	    <div class="container-fluid">      
                <div class="row">
					<div class="col-md-12" data-aos="fade-up">
						<div class="section-title text-center">
							<h2>{% trans "Самые крупные озера Казахстана" %}</h2>
                            <p style="font-size:20px; font-style:italic;">{% trans "Балхаш - феномен природы. Геологи и геоморфологи установили, что озеро существует более 35000 лет" %}.</p>
                            <span></span>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
				<div class="row text-center">
					<div class="col-md-4 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
                            <h2>374 <b style="font-size:22px;"> {% trans "тыс.кв.км." %} </b> </h2>
							<h1>{% trans "Каспийское море" %}</h1>
						</div>
					</div><!-- END COL -->
					<div class="col-md-4 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
                            <h2> 41,0 <b style="font-size:22px;">{% trans "тыс.кв.км." %} </b> </h2>
							<h1>{% trans "Аральское море" %} </h1>
						</div>
					</div><!-- END COL -->
					<div class="col-md-4 col-sm-6 col-xs-12 no-padding" data-aos="fade-up">
						<div class="single-project-complete">
                            <h2> 18,0 <b style="font-size:22px;"> {% trans "тыс.кв.км." %} </b></h2>
							<h1>{% trans "Балхаш" %} </h1>
						</div>
					</div><!-- END COL -->                   
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		<!-- END COUNTER -->
        
        <!-- Кнопка-ссылка -->
        <div class="container-fluid">
            <a href="{% url 'infoatlas' %}">
                <div class="tur-button">
                    <h1> {% trans "Туризм в цифрах" %}</h1>
                </div>
            </a>
        </div>
        <!-- END COUNTER -->
     </div>   
{%endblock%}	
{%block myscript%}
<script src="{% static 'app/scripts/scripts.js' %}"></script>
{%endblock%}	    

