﻿{% extends base %}

{% load staticfiles %}
{%block mystyle%}
		<link rel="stylesheet" href="{% static 'app/content/style.css' %}">	
{%endblock%}
{%block lang%}
    <ul class="nav navbar-nav">
            {% load i18n %}
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                {% language lang_code %}
                    {%if lang_code == 'kk' %}
                        <li class="nav-item "><a class="nav-link" href="{% url 'digest' pk=pk%}">KZ</a></li>
                    {%else%}
                        <li class="nav-item "><a class="nav-link" href="{% url 'digest' pk=pk%}">{{ lang_code }}</a></li>
                    {%endif%}
                {% endlanguage %}
            {% endfor %}
        </ul>     
{%endblock%}
{%block navbar%}
        <ul class="nav navbar-nav" style=" display: inline-block;  float: none;  vertical-align: top;"> 
            <li class="nav-item"><a class="nav-link" href="{%url 'home' %}">{% trans "Главная" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{%url 'about1' %}">{% trans "О проекте" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="/{{lg}}/#region_atlas">{% trans "Атлас регионов" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="/{{lg}}/#attraction_map">{% trans "Карта достопримечательностей" %}</a></li> 
            <li class="nav-item"><a class="nav-link" href="/{{lg}}/#beautiful_places">{% trans "Красивые места" %}</a></li>
            <li class="nav-item active"><a class="nav-link" href="/{{lg}}/#infoatlas">{% trans "Инфоатлас" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{%url 'atlas' %}">{% trans "Казахстан в цифрах" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{%url 'tourists' %}">{% trans "Для туристов" %}</a></li>
        </ul>
{%endblock%}
{%block home%}
        <section id="home" class="atlas_main_img" style="background-image: url({% static 'app/img/atlas.jpg' %});  background-size:cover; background-position: center center;">			
			<div class="container-fluid">
				<div class="row">
				  <div class="col-xs-24 text-center ">
					<div class="hero-text">
                        <h1 style="color:#ffffff">{% trans "Дайджест о туризме" %}</h1>
					</div>
				  </div><!--- END COL -->			  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
{%endblock%}
{%block navbar2%}
        <div class="navbar-collapse collapse" id="navbar-second">
            <ul class="nav navbar-nav" style="position: relative;  left: 50%; transform: translatex(-50%);  margin-top: -15px; display: inline-table;" >
                <li class="nav-item "><a class="nav-link" href="{% url 'regatlas' pk=pk%}">{% trans "О регионе" %}</a></li>
                <li class="nav-item "><a class="nav-link" href="{% url 'objects' pk=pk dist=''%}">{% trans "Каталог объектов" %}</a></li>
                <li class="nav-item "><a class="nav-link" href="{% url 'top5' pk=pk%}">{% trans "Топ 5 мест" %}</a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'digest' pk=pk%}">{% trans "Дайджест о туризм" %}е</a></li>   
            </ul>   
        </div> 
{%endblock%}
{%block content%}
<div class="container" style="padding-bottom:250px;">                        
            <div class="article" style="padding-top:60px;">
                <h1>
                    {% trans "Цифровой туризм как ключевой фактор развития экономики" %}
                </h1>
                <p>
                    {% trans "В статье рассматриваются вопросы, связанные с влиянием цифровых технологий на развитие электронного туризма в частности и индустрию туризма в целом. " %}
                    {% trans "Развитие электронного туризма связано с тем, что современное мировое сообщество невозможно представить без свойственного ему разнообразия портативных технических средств." %}
                    {% trans " Возможности сети Интернет являются привлекательными для потенциальных туристов в связи с тем, что такие лица имеют возможность ознакомиться со страной, которую они намерены посетить, узнать о достопримечательностях и гостиницах, а также получить представление об условиях жизни в потенциальной стране пребывания. " %}
                    {% trans "Следует также отметить, что в последнее время доверие путешественников к новшествам, таким как электронные визы и электронные билеты, возросло, что обусловливает соответствующий спрос на данные новшества и позволяет говорить о стремительном развитии электронного туризма." %}                 
                </p>
                <br />
                <a href="{% static 'app/img/article.pdf' %}"> {% trans "Открыть статью" %} "Digital tourism as a key factor in the development of the economy"</a>
            </div>
        </div>
{%endblock%}	
{%block myscript%}
<script src="{% static 'app/scripts/regatlas.js' %}"></script>
{%endblock%}	    
	  