﻿{% extends 'app/layout.html' %}
{% load staticfiles %}
{%block mystyle%}
		<link rel="stylesheet" href="{% static 'app/content/style.css' %}">	
{%endblock%}
{%block lang%}
 <ul class="nav navbar-nav">
            {% load i18n %}
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                {% language lang_code %}
                    {%if lang_code == 'kk' %}
                        <li class="nav-item "><a class="nav-link" href="{% url 'home' %}">KZ</a></li>
                    {%else%}
                         <li class="nav-item "><a class="nav-link" href="{% url 'home' %}">{{ lang_code }}</a></li>
                    {%endif%}
                {% endlanguage %}
            {% endfor %}
        </ul>     
{%endblock%}    
{%block navbar%}
{%endblock%}
{%block home%}        
        <section id="home"> 
            <img class="home_video html-video" src="{% static 'app/img/background.jpg' %}">			
			<div class="hero-text slider-caption text-center">
                {%if lg == 'kz'%}
                <h2 style="padding-left:200px;"> Қазақстан туризмі туралы</h2>
				<h1 style="padding-left:200px;"> интерактивті портал </h1>
                {%else%}
                <h1 style="padding-left:200px;">{% trans "Интерактивный Портал" %} </h1>
                <h2 style="padding-left:200px;"> {% trans "о туризме казахстана" %}</h2>	
                {%endif%}
			</div>

		</section>
{%endblock%}
{%block navbar2%}
        <div class="navbar-collapse collapse" id="navbar-second">
                 <ul class="nav navbar-nav" style="position: relative;  left: 50%; transform: translatex(-50%);  margin-top: -15px; display: inline-table;" width="100%" >
                    <li class="nav-item active"><a class="nav-link" href="{%url 'home' %}">{% trans "Главная" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'about1' %}">{% trans "О проекте" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#region_atlas">{% trans "Атлас регионов" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#attraction_map">{% trans "Карта достопримечательностей" %}</a></li> 
                    <li class="nav-item"><a class="nav-link" href="#beautiful_places">{% trans "Красивые места" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#infoatlas">{% trans "Инфоатлас" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'atlas' %}">{% trans "Казахстан в цифрах" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'tourists' %}">{% trans "Для туристов" %}</a></li>
				</ul>
		</div>
{%endblock%}
{%block content%}
 <!-- Атлас регионов -->
		<section id="region_atlas" class="deals_discount section-padding">
			<div class="container-fluid">		
				<div class="row">
					<div class="col-md-12" data-aos="fade-up">
						<div class="section-title text-center">
							<h2 style="margin-top:60px">{% trans "Атлас регионов" %}</h2>
                            <span></span>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->					
				<div class="row text-center">
					<div class="col-md-12" data-aos="fade-up">
						<div id="package-slider" class="owl-carousel">
							<div class="single_package"> 
								<a href="{% url 'regatlas' pk='Алматинская область' %}"><img class="img-fluid" src="{% static 'app/img/d1.jpg' %}" alt=""></a>
								<h5 class="package-name">{% trans "Алматинская область" %}</h5>
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<a href="{% url 'regatlas' pk='Акмолинская область'%}"><img class="img-fluid" src="{% static 'app/img/d4.jpg' %}" alt=""></a>
								<h5 class="package-name">{% trans "Акмолинская область" %}</h5>
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<a href="{% url 'regatlas' pk='Восточно-Казахстанская область'%}"><img class="img-fluid" src="{% static 'app/img/d3.jpg' %}" alt=""></a>
								<h5 class="package-name">{%if lg == 'kk'%} Шығыс Қазақстан облысы {%elif lg == 'en'%}East Kazakhstan region {%else%} {% trans "Восточно-Казахстанская область" %} {%endif%}</h5>
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<a href="{% url 'regatlas' pk='Западно-Казахстанская область'%}"><img class="img-fluid" src="{% static 'app/img/d2.jpg' %}" alt=""></a>
								<h5 class="package-name">{%if lg == 'kk'%} Батыс Қазақстан облысы {%elif lg == 'en'%} West Kazakhstan region {%else%} {% trans "Западно-Казахстанская область" %} {%endif%}</h5>
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<a href="{% url 'regatlas' pk='Северо-Казахстанская область'%}"><img class="img-fluid" src="{% static 'app/img/d5.jpg' %}" alt=""></a>
								<h5 class="package-name">{%if lg == 'kk'%} Солтүстік Қазақстан облысы {%elif lg == 'en'%} North Kazakhstan region {%else%} {% trans "Северо-Казахстанская область" %} {%endif%}</h5>
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<a href="{% url 'regatlas' pk='Южно-казахстанская область'%}"><img class="img-fluid" src="{% static 'app/img/d6.jpg' %}" alt=""></a>
								<h5 class="package-name">{%if lg == 'kk'%} Оңтүстік Қазақстан облысы {%elif lg == 'en'%} South Kazakhstan region {%else%} {% trans "Южно-казахстанская область" %} {%endif%}</h5>
							</div><!-- END SINGLE PACKAGE -->
                            <div class="single_package"> 
								<a href="{% url 'regatlas' pk='Жамбылская область'%}"><img class="img-fluid" src="{% static 'app/img/d7.jpg' %}" alt=""></a>
                                <h5 class="package-name">{% trans "Жамбылская область" %}</h5>
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<a href="{% url 'regatlas' pk='Карагандинская область'%}"><img class="img-fluid" src="{% static 'app/img/d8.jpg' %}" alt=""></a>
                                <h5 class="package-name">{%if lg == 'kk'%} Қарағанды облысы {%elif lg == 'en'%} Karaganda region {%else%} {% trans "Карагандинская область" %} {%endif%}</h5>
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<a href="{% url 'regatlas' pk='Актюбинская область'%}"><img class="img-fluid" src="{% static 'app/img/d9.jpg' %}" alt=""></a>
                                <h5 class="package-name">{% trans "Актюбинская область" %}</h5>
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<a href="{% url 'regatlas' pk='Атырауская область'%}"><img class="img-fluid" src="{% static 'app/img/d2.jpg' %}" alt=""></a>
                                <h5 class="package-name">{%if lg == 'kk'%} Атырау облысы {%elif lg == 'en'%} Atyrau region {%else%} {% trans "Атырауская область" %} {%endif%}</h5>
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<a href="{% url 'regatlas' pk='Мангыстауская область'%}"><img class="img-fluid" src="{% static 'app/img/d11.jpg' %}" alt=""></a>
                                <h5 class="package-name">{% trans "Мангыстауская область" %}</h5>
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<a href="{% url 'regatlas' pk='Павлодарская область'%}"><img class="img-fluid" src="{% static 'app/img/d12.jpg' %}" alt=""></a>
                                <h5 class="package-name">{% trans "Павлодарская область" %}</h5>
							</div><!-- END SINGLE PACKAGE -->
                            <div class="single_package"> 
								<a href="{% url 'regatlas' pk='Костанайская область'%}"><img class="img-fluid" src="{% static 'app/img/d13.jpg' %}" alt=""></a>
                                <h5 class="package-name">{% trans "Костанайская область" %}</h5>
							</div>
                             <div class="single_package"> 
								<a href="{% url 'regatlas' pk='Кызылординская область'%}"><img class="img-fluid" src="{% static 'app/img/d13.jpg' %}" alt=""></a>
                                <h5 class="package-name">{% trans "Кызылординская область" %}</h5>
							</div><!-- END SINGLE PACKAGE -->
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END DEALS & DISCOUNT -->

        <!-- Карта достопримечательностей  казахстана -->
		<section id="attraction_map" class="deals_discount section-padding">
			<div class="container-fluid">		
				<div class="row">
					<div class="col-md-12" data-aos="fade-up">
						<div class="section-title text-center">
							<h3 style="margin-top:60px">{% trans "Карта достопримечательностей" %}  </h3><h2> {% trans "казахстана" %}</h2>
                            <span></span>
						</div>
                        <div align="center">
                            <a href="{%url 'map' pk='город Алматы'%}">
                            <img width="80%" alt="" src="{% static 'app/img/map_kz.jpg' %}"/>
                            </a>
                        </div>
					</div><!-- END COL -->
				</div><!-- END ROW -->							
			</div><!-- END CONTAINER -->
		</section>
		<!-- END DEALS & DISCOUNT -->

		<!-- Красивые места -->
		<section id="beautiful_places" class="our_gallery section-padding">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12" data-aos="fade-up">
						<div class="section-title text-center">
							<h2 style="margin-top:60px">{% trans "Красивые места" %}</h2>
                            <span></span>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->					
				<div class="row text-center">
					<div class="col-md-12" data-aos="fade-up">
                    <div id="gallery-slider" class="owl-carousel">
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d34.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d33.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d35.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d36.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d5.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d6.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
                        <div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d2.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
        <!-- END GALLERY -->

	    <!--  туризм в цифрах -->
		<section id="infoatlas" class="blog_section">						
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12" data-aos="fade-up">
						<div class="section-title text-center wow zoomIn">
							<a href="{% url 'atlas' %}" style="margin-top:60px"><h3>{% trans "туризм" %}</h3> <h2>{% trans "в цифрах" %}</h2></a>
                            <span></span>
						</div>	
                    </div>
                </div>
            <div class="col-md-12" data-aos="fade-up">
                <a href="{% url 'atlas'%}">
                <div class="row" data-aos="fade-up" >
                    <div class="col-md-2" data-aos="fade-up" style="padding-left: 0px; padding-right:0px;">
                        <div class="blog-text">
                            <h4> {% trans "РК - 9 место в мире" %}</h4>  <h4>{% trans "2 в СНГ" %} </h4>{% trans "Место страны по площади земель уступает лишь Росии, Китаю, США, Аргентине, Бразилии, Канаде, Индии и Австралии" %}
                        </div>
                    </div>
                    <div class="col-md-2" data-aos="fade-up" style="padding-left: 0px; padding-right:0px;">
                        <div class="blog-photo">
                            <img src="{% static 'app/img/d1.jpg' %}"/>
                        </div>
                    </div>
                    <div class="col-md-2" data-aos="fade-up" style="padding-left: 0px; padding-right:0px;">
                        <div class="blog-text">
                            <h4>{% trans "6995 м" %}</h4><h5>{% trans "Пик Хан-Тенгри " %}<br />({% trans "хребет Сарыжаз" %})</h5>{% trans "самая высокая точка Казахстана" %}
                        </div>
                    </div>
                    <div class="col-md-2" data-aos="fade-up" style="padding-left: 0px; padding-right:0px;">
                        <div class="blog-photo">
                            <img src="{% static 'app/img/d3.jpg' %}"/>
                        </div>
                    </div>
                    <div class="col-md-2" data-aos="fade-up" style="padding-left: 0px; padding-right:0px;">
                        <div class="blog-text">
                            <h4>{% trans "4248 км" %}</h4>{% trans "Ишим" %} <br />{% trans "самая длинная река" %}
                            <h4>{% trans "1698 км" %}</h4>{% trans "в пределах Казахстана" %}
                        </div>
                    </div>
                    <div class="col-md-2" data-aos="fade-up" style="padding-left: 0px; padding-right:0px;">
                        <div class="blog-photo">
                            <img src="{% static 'app/img/d7.jpg' %}"/>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-12" data-aos="fade-up">
                <a href="{% url 'atlas' %}">
                <div class="row" data-aos="fade-up" >
                    <div class="col-md-2" data-aos="fade-up" style="padding-left: 0px; padding-right:0px;">
                        <div class="blog-photo">
                            <img src="{% static 'app/img/d5.jpg' %}"/>
                        </div>
                    </div>
                    <div class="col-md-2" data-aos="fade-up" style="padding-left: 0px; padding-right:0px;">
                        <div class="blog-text">
                            <h4>{% trans "Балхаш" %} <br />18,0</h4> {% trans "тыс.кв.км." %}
                        </div>
                    </div>
                    <div class="col-md-2" data-aos="fade-up" style="padding-left: 0px; padding-right:0px;">
                        <div class="blog-photo">
                            <img src="{% static 'app/img/d4.jpg' %}"/>
                        </div>
                    </div>
                    <div class="col-md-2" data-aos="fade-up" style="padding-left: 0px; padding-right:0px;">
                        <div class="blog-text">
                            <h4>{% trans "Байконур" %}</h4><h5>{% trans "первый крупнейший в мире космодром" %} </h5>({% trans "площадь 6717 кв.км." %})
                        </div>
                    </div>
                    <div class="col-md-2" data-aos="fade-up" style="padding-left: 0px; padding-right:0px;">
                        <div class="blog-photo">
                            <img src="{% static 'app/img/d6.jpg' %}"/>
                        </div>
                    </div>
                    <div class="col-md-2" data-aos="fade-up" style="padding-left: 0px; padding-right:0px;">
                        <div class="blog-text">
                            <h4>3,6 млн.</h4>{% trans "туристов посетили Казахстан (январь-июль 2017)" %}
                        </div>
                    </div>
                </div>
                </a>
            </div>  
            </div>
		</section> 
		<!-- END BLOG -->
		<!--видеогалерея -->
		<section id="gallery" class="our_gallery section-padding">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12" data-aos="fade-up">
						<div class="section-title text-center">
							<h2 style="margin-top:60px">{% trans "Видеогалерея" %}</h2>
                            <span></span>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
                <div class="row text-center">
					<div class="col-md-12" data-aos="fade-up">
                        <div id="video12" class="min-vid">
                            <iframe src="https://www.youtube.com/embed/BbLbKHJY-uQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                              <div style="padding-top: 20px;">
                                <img src="//img.youtube.com/vi/qroCxiR6Mrk/1.jpg" tabindex="2" data-start="32" data-end="60"/>
                                <img src="//img.youtube.com/vi/YgTQebIDBTA/1.jpg" tabindex="2"/>
                                <img src="//img.youtube.com/vi/BbLbKHJY-uQ/1.jpg" tabindex="2"/>
                              </div>
                        </div>
                            <script>
                            var IMG = document.querySelectorAll('#video12 img'),
                                IFRAME = document.querySelector('#video12 iframe');
                            for (var i = 0; i < IMG.length; i++) {
                              IMG[i].onclick = function() {
                                var idIMG = this.src.replace(/http...img.youtube.com.vi.([\s\S]*?).1.jpg/g, '$1');
                                IFRAME.src = 'http://www.youtube.com/embed/' + idIMG + '?rel=0&autoplay=1';
                                if(this.dataset.end) IFRAME.src = IFRAME.src.replace(/([\s\S]*)/g, '$1&end=' + this.dataset.end);
                                if(this.dataset.start) IFRAME.src = IFRAME.src.replace(/([\s\S]*)/g, '$1&start=' + this.dataset.start);
                                this.style.backgroundColor='#555';
                              }
                            }
                            </script>
                    </div>
				</div><!--- END ROW -->				
			</div><!--- END CONTAINER-FLUID -->
		</section>
		<!-- END TOP DEALS -->

		<!--фотогалерея -->
        <section id="foto_gallery" class="our_gallery section-padding">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12" data-aos="fade-up">
						<div class="section-title text-center">
							<h2 style="margin-top:60px">{% trans "Фотогалерея" %}</h2>
                            <span></span>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->					
				<div class="row text-center">
					<div class="col-md-12" data-aos="fade-up">
                    <div id="discount-slider" class="owl-carousel">
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d1.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d10.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d3.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d4.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d5.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d6.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
                            <div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d7.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d8.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d9.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d2.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d11.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d12.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
                            <div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d13.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d14.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d15.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d16.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
                            <div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d17.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d18.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d19.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d20.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d25.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
                            <div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d26.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
                            <div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d28.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
                            <div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d29.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d22.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
                            <div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d21.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
                            <div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d24.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
							<div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d23.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
                        <div class="single_package"> 
								<img class="img-fluid" src="{% static 'app/img/d32.jpg' %}" alt="">
							</div><!-- END SINGLE PACKAGE -->
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END TOP DEALS -->				 
{%endblock%}	
{%block myscript%}
<script src="{% static 'app/scripts/scripts.js' %}"></script>
{%endblock%}


