﻿{% extends base %}

{% load staticfiles %}
{%block mystyle%}
		<link rel="stylesheet" href="{% static 'app/content/atlas_style.css' %}">	
{%endblock%}
{%block lang%}
    <ul class="nav navbar-nav">
            {% load i18n %}
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                {% language lang_code %}
                {%if lang_code == 'kk' %}
                        <li class="nav-item "><a class="nav-link" href="{% url 'infoatlas' %}">KZ</a></li>
                    {%else%}
                         <li class="nav-item "><a class="nav-link" href="{% url 'infoatlas' %}">{{ lang_code }}</a></li>
                    {%endif%}
                {% endlanguage %}
            {% endfor %}
        </ul>     
{%endblock%}
{%block navbar%}
{%endblock%}
{%block home%}  
        <section id="home" class="atlas_main_img" style="background-image: url({% static 'app/img/atlas.jpg' %});  background-size:cover; background-position: center center;">			
			<div class="container-fluid">
				<div class="row">
				  <div class="col-md-12 text-center">
					<div class="hero-text">
                        <h1>{% trans "Инфоатлас" %} &quot;{% trans "туризм в цифрах" %}&quot;</h1>
					</div>
				  </div><!--- END COL -->			  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>       
{%endblock%}
{%block navbar2%}
        <div class="navbar-collapse collapse" id="navbar-second">
            <ul class="nav navbar-nav" style="position: relative;  left: 50%; transform: translatex(-50%);  margin-top: -15px; display: inline-table;" >
                <li class="nav-item"><a class="nav-link" href="{%url 'home' %}">{% trans "Главная" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'about1'%}">{% trans "О проекте" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="/{{lg}}/#region_atlas">{% trans "Атлас регионов" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="/{{lg}}/#attraction_map">{% trans "Карта достопримечательностей" %}</a></li> 
                <li class="nav-item"><a class="nav-link" href="/{{lg}}/#beautiful_places">{% trans "Красивые места" %}</a></li>
                <li class="nav-item active"><a class="nav-link" href="/{{lg}}/#infoatlas">{% trans "Инфоатлас" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'atlas' %}">{% trans "Казахстан в цифрах" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'tourists' %}">{% trans "Для туристов" %}</a></li>
            </ul>   
        </div>
{%endblock%}
{%block content%}
        <div class="container-fluid-main">
            <div class="row">
                <div class="col-md-12" data-aos="fade-up">
                    <div class="section-title text-center">
                        <h1>{% trans "О казахстане в цифрах" %}</h1>
                        <p style="padding-top:40px;"></p>
                        <iframe width="100%" height="885" src="https://app.powerbi.com/view?r=eyJrIjoiYmJjZDBmYWUtYWMxMy00YmVjLTg3N2MtNWJkMDUyOTczOTg0IiwidCI6ImIwYWI3MWE1LTc1YjEtNGQ2NS04MWY3LWY0NzliNDk3OGQ3YiIsImMiOjl9" frameborder="0"  allowFullScreen="true"></iframe>
                        <p style="padding-top:80px;"></p>
                        <iframe width="100%" height="885" src="https://app.powerbi.com/view?r=eyJrIjoiYzQ0YmVkMTUtZWYxNy00OTFhLWJkYjItZjBkODM4YjQ4OTQ3IiwidCI6ImIwYWI3MWE1LTc1YjEtNGQ2NS04MWY3LWY0NzliNDk3OGQ3YiIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>            
                    </div>
                    <div class="section-title text-center">
                        <div class="demo">
                            <input type="checkbox" id="hd-1" class="hide"/>
                            <label for="hd-1" >{% trans "Нажмите, чтобы увидеть список отчетов" %}</label>
                            <div>
                                 <table class="demotable">                             
                                     <tbody>
                                        <tr>
                                           <th width="45%">Название отчета
                                           <th width="10%">Период
                                           <th width="45%">Источник
                                        <tr>
                                           <td>Используемые въездными туристами Казахстана транспортные средства
                                           <td>2015 - 2018
                                           <td>Статистический сборник
                                        <tr>
                                           <td>Расходы въездных посетителей Казахстана 
                                           <td>2015 - 2018
                                           <td>Показатель: расходы посетителей в поездке на территории Казахстана 
                                        <tr>
                                           <td>Количество проведенных ночей въездными посетителями Казахстана
                                           <td>2015 - 2018
                                           <td>Статистический сборник
                                        <tr>
                                           <td>Показатели количества обслуженных посетителей по регионам Казахстана (внутренний и въездной туризм)
                                           <td>2000-2016
                                           <td>Информация по туристскому потоку страны на основе данных о посетителях Пограничной службы Комитета национальной безопасности Республики Казахстан, а также по обследованиям мест размещения, санаторно-курортных организаций и особо охраняемых природных территорий
                                        <tr>
                                           <td>Данные о количестве туристических фирм Казахстана
                                           <td>2000-2016
                                           <td>Статистический сборник
                                        <tr>
                                           <td>Количество обслуженных посетителей по областям и курортным зонам Казахстана 
                                           <td>2012-2017
                                           <td>Информация по туристскому потоку страны на основе данных о посетителях Пограничной службы Комитета национальной безопасности Республики Казахстан, а также по обследованиям мест размещения, санаторно-курортных организаций и особо охраняемых природных территорий
                                        <tr>
                                           <td>Количество обслуженных посетителей по рыбным хозяйствам Казахстана
                                           <td>2012-2017
                                           <td>Информация по туристскому потоку страны на основе данных о посетителях Пограничной службы Комитета национальной безопасности Республики Казахстан, а также по обследованиям мест размещения, санаторно-курортных организаций и особо охраняемых природных территорий
                                        <tr>
                                           <td>Заполняемость гостиниц Казахстана в процентах (кол-во койко-мест)  с учетом индивидуальных предпринимателей, занимающихся размещением посетителей
                                           <td>2004-2018
                                           <td>Статистический сборник
                                        <tr>
                                           <td>Единовременная вместимость мест размещения туристов Казахстана (койко-мест) с учетом индивидуальных предпринимателей, занимающихся размещением посетителей
                                           <td>2003-2018
                                           <td>Статистический сборник
                                        <tr>
                                           <td>Объем услуг, оказанный местами размещения туристов Казахстана с учетом индивидуальных предпринимателей, занимающихся размещением посетителей
                                           <td>2003-2018
                                           <td>Статистический сборник
                                        <tr>
                                           <td>Распределение выездных посетителей Казахстана по целям поездок
                                           <td>2016-2018
                                           <td>Статистический сборник
                                        <tr>
                                           <td>Количество посетителей Казахстана по типам и целям поездок (внутренний и выездной туризм)
                                           <td>2016-2017
                                           <td>Статистический сборник
                                        <tr>
                                           <td>Распределение въездных посетителей Казахстана по странам проживания
                                           <td>2004-2016
                                           <td>Статистический сборник
                                        <tr>
                                           <td>Сравнительный анализ кол-ва посетителей по въездному / выездному туризму Казахстана 
                                           <td>2008-2016
                                           <td>Статистический сборник
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- END COL -->
		    </div><!-- END ROW -->
        </div>
{%endblock%}	
{%block myscript%}
<script src="{% static 'app/scripts/scripts.js' %}"></script>
{%endblock%}	    

