﻿<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
 {% load i18n %}
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<!-- SITE TITLE -->
		<title>Tourism of Kazakhstan</title>			
		<!-- Latest Bootstrap min CSS -->
        {% load staticfiles %}
		<link rel="stylesheet" href="{% static 'app/content/bootstrap.min.css' %}">		
        <link rel="stylesheet" href="{% static 'app/content/bootstrap.css' %}">	
		<!-- Font Awesome CSS -->
		<link rel="stylesheet" href="{% static 'app/fonts/font-awesome.min.css' %}">
		<!--- owl carousel Css-->
		<link rel="stylesheet" href="{% static 'app/content/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'app/content/owl.theme.css' %}">	
 	    <!--Flex slider-->
        <link rel="stylesheet" href="{% static 'app/content/flexslider.css' %}">	
		<!-- component CSS -->	
		<link rel="stylesheet" href="{% static 'app/content/aos.css' %}">			
		<!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'app/content/main.css' %}">
        <link rel="stylesheet" media="screen,projection" href="{% static 'app/content/ui.totop.css' %}">
		<!-- CSS FOR COLOR SWITCHER -->
		<link rel="stylesheet" href="{% static 'app/content/switcher.css' %}"> 	
		<link rel="stylesheet" href="{% static 'app/content/style1.css" id="colors' %}">
        <!-- Google Font -->
		<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700,700i" rel="stylesheet"> 
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
        {%block mystyle%}
        {%endblock%}
	</head>
	
    <body data-spy="scroll" data-offset="80">
        <!-- START NAVBAR --> 
        <div class="navbar  navbar-toggleable-sm navbar-light bg-faded navbar-fixed-top ">
        <div class="container-nav">
            <div class="navbar-header  navbar-right" >
                <button type="button" class="navbar-toggle  navbar-right" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main" style="margin-top: 0px;">
       
                {%block lang%}
                
                {%endblock%}
                
                 <form class="navbar-form navbar-left" action=""  role="search">
                     {% csrf_token %}
                     <div class="input-group">
                    <input type="text" class="form-control" placeholder="{% trans "Search" %}">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit" style="padding-right: 7px;padding-bottom: 7px; padding-left: 7px; padding-top: 7px;">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
    </div>
  </div>
                 </form>
               {%block navbar%}
        {%endblock%}
                <ul class="nav navbar-nav navbar-right" style="margin-top: 5px;">
                               <li class="nav-item" ><a class="nav-link" href="https://m.facebook.com/groups/171777420131594"><img src="{% static 'app/img/fb.png' %}" alt=""></a></li>
                                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/tourismkaz_kz/"><img src="{% static 'app/img/insta.png' %}" alt=""></a></li>
                    {% include 'app/loginpartial.html' %}
                </ul> 
               
                
            </div>
        </div>
    </div>
		<!-- END NAVBAR -->
    
		{%block home%}
        {%endblock%}

        <!-- START NAVBAR -->
		  <nav class="navbar navbar-toggleable-sm  navbar-light bg-faded  bg-faded site-navigation">
			<div class="container-nav">
            <div class="navbar-header  navbar-right" >
                <button type="button" class="navbar-toggle  navbar-right" data-toggle="collapse" data-target="#navbar-second">
                      <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                     </button>
                <a href="/" class="navbar-brand"></a>
            </div>
               {%block navbar2%}
        {%endblock%}

			</div>
		  </nav>      
		<!-- END NAVBAR -->
       
     {%block content%}
        {%endblock%}
		
	<div class="footer">
			<div class="container-fluid">
				<div class="row">	
                <div class="col-md-6">
                    <div class="copyright">
                        <p style="text-transform:uppercase;">{% trans "Наши контакты" %}</p>
                        <p>{% trans "Адрес: пр. Аль-Фараби, 71" %} </p>
                        <p>{% trans "Тел" %}.: +7 (727) 377 33 33 ({% trans "внутр." %}:1945)</p>
                        <p>{% trans "Факс" %}: +7 (727) 377 33 44</p>
                        <p>Email: tourismkaz2018@gmail.com  </p>
                    </div>
               </div>
               <div class="col-xs-6 col-md-6"> 
                    <div style="padding-right:20px;">
                        <a class="weatherwidget-io" href="https://forecast7.com/ru/43d2276d85/almaty/"  data-font="Arial" data-mode="Current" data-theme="original" data-basecolor="#1C5970" >АЛМАТЫ</a>
                                    <script>
                                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                                    </script>
                    </div>
                   
                        <link rel="stylesheet" href="https://prodengi.kz/informer/prodengi_160_50.css" type="text/css" media="all" />
                        <div class="birja">
                            <div class="inform_160_50_160504632" style="font-size: inherit;   width: inherit;">
                                <a href="https://prodengi.kz" id="prodengi_link_160504632" target="_blank" title="Курсы валют: курс доллара, курс евро" style="color:#fff;"></a>
                                    <span><img src="{% static 'app/img/dollar.png' %}" alt=""></span>&nbsp;<span id="prodengi_usd_160504632"></span>&#8195;
                                    <span><img src="{% static 'app/img/euro.png' %}" alt=""></span>&nbsp;<span id="prodengi_eur_160504632"></span>&#8195;
                                    <span><img src="{% static 'app/img/ru.png' %}" alt=""></span>&nbsp;<span id="prodengi_rub_160504632"></span>
                                    <span id="prodengi_echo_160504632"></span>
                            </div>
                            </div>
                            <script type="text/javascript" src="https://prodengi.kz/informer/prodengi_160_50.js"></script>
                    
				</div><!--- END ROW -->				
			    </div><!--- END CONTAINER -->
		    </div>
       </div>
		<!-- END FOOTER -->	
	
		<!-- Latest jQuery -->
			<script src="{% static 'app/scripts/jquery-1.12.4.min.js' %}"></script>
		<!-- Latest compiled and minified Bootstrap -->
			<script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
		<!-- modernizer JS -->		
			<script src="{% static 'app/scripts/modernizr-2.8.3.min.js' %}"></script>	
		<!-- jquery nav JS -->		
			<script src="{% static 'app/scripts/jquery.nav.js' %}"></script>
		<!-- jquery smooth-scroll JS -->
			<script src="{% static 'app/scripts/smooth-scroll.js' %}"></script>																	
		<!-- owl-carousel min js  -->
			<script src="{% static 'app/scripts/owl.carousel.min.js' %}"></script>
		<!-- stellar js -->
			<script src="{% static 'app/scripts/jquery.stellar.min.js' %}"></script>
		<!-- countTo js -->
			<script src="{% static 'app/scripts/jquery.inview.min.js' %}"></script>	
		<!-- jquery flexslider min js -->
			<script src="{% static 'app/scripts/jquery.flexslider-min.js' %}"></script>				
		<!-- scrolltopcontrol js -->
			<script src="{% static 'app/scripts/scrolltopcontrol.js' %}"></script>								
		<!-- form-contact js -->
			<script src="{% static 'app/scripts/form-contact.js' %}"></script>	
		<!-- aos js -->
			<script src="{% static 'app/scripts/aos.js' %}"></script>
		<!-- switcher js -->
			<script src="{% static 'app/scripts/switcher.js' %}"></script>			
		<!-- map js -->
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwIQh7LGryQdDDi-A603lR8NqiF3R_ycA"></script>				
		<!-- scripts js -->
			{%block myscript%}
        {%endblock%}
    </body>
</html>