{% extends 'app/layout.html' %}
{% load staticfiles %}
{%block mystyle%}
		<link rel="stylesheet" href="{% static 'app/content/style.css' %}">	
{%endblock%}
{%block lang%}
              <ul class="nav navbar-nav">
            {% load i18n %}
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                {% language lang_code %}
                {%if lang_code == 'kk' %}
                        <li class="nav-item "><a class="nav-link" href="{% url 'login' %}">KZ</a></li>
                    {%else%}
                         <li class="nav-item "><a class="nav-link" href="{% url 'login' %}">{{ lang_code }}</a></li>
                    {%endif%}
                {% endlanguage %}
            {% endfor %}
        </ul>   
 {%endblock%} 
{%block home%}
        <section id="home" class="home_parallax" style="background-image: url({% static 'app/img/IMG_2491.png' %});  background-size:cover; background-position: center center;">			
			<div class="container-fluid">
				<div class="row">
				  <div class="col-md-12 text-center">
					<div class="hero-text">
						<h1>{% trans "Интерактивный Портал" %} </h1> <h2> {% trans "о туризме казахстана" %}</h2>
					</div>
				  </div>			  
				</div>
			</div>
		</section>
{%endblock%}
{%block navbar2%}
        <div class="navbar-collapse collapse" id="navbar-second">
                 <ul class="nav navbar-nav" style="position: relative;  left: 50%; transform: translatex(-50%);  margin-top: -15px; display: inline-table;" width="100%" >
                    <li class="nav-item"><a class="nav-link" href="{%url 'home' %}">{% trans "Главная" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'about1' %}">{% trans "О проекте" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/{{lg}}/#region_atlas">{% trans "Атлас регионов" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/{{lg}}/#attraction_map">{% trans "Карта достопримечательностей" %}</a></li> 
                    <li class="nav-item"><a class="nav-link" href="/{{lg}}/#beautiful_places">{% trans "Красивые места" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/{{lg}}/#infoatlas">{% trans "Инфоатлас" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'atlas' %}">{% trans "Казахстан в цифрах" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'tourists' %}">{% trans "Для туристов" %}</a></li>
				</ul>
                   
		</div>
{%endblock%}
{%block content%}
			 <div class="container" style="padding-top:100px; padding-bottom:250px;">
    <div class="col-md-8">
        <section id="loginForm" >
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4 style="font-size: 25px; font-weight:500;">{% trans "Введите логин и пароль для входа в систему" %}:</h4>
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">{% trans "Логин" %}:</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">{% trans "Пароль" %}:</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Войти" class="btn btn-default" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">{% trans "Введите правильное имя пользователя и пароль" %}.</p>
                {% endif %}
            </form>
        </section>
    </div>
</div>
{%endblock%}	
{%block myscript%}
<script src="{% static 'app/scripts/scripts.js' %}"></script>
{%endblock%}	    

