﻿{% load staticfiles %}
{%block mystyle%}
		<link rel="stylesheet" href="{% static 'app/content/style.css' %}">	
{%endblock%}
{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin">{{ user.username }}</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><img src="{% static 'app/img/exit.png' %}"></a></li>
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li class="login"><a href="{% url 'login' %}">Войти</a></li>
</ul>

{% endif %}
