﻿{% extends 'app/layout.html' %}
{% load staticfiles %}
{%block mystyle%}
		<link rel="stylesheet" href="{% static 'app/content/style.css' %}">	
{%endblock%}
{%block lang%}
   <ul class="nav navbar-nav">
            {% load i18n %}
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                {% language lang_code %}

                {%if lang_code == 'kk' %}
                        <li class="nav-item "><a class="nav-link" href="{% url 'map' pk=pk %}">KZ</a></li>
                    {%else%}
                         <li class="nav-item "><a class="nav-link" href="{% url 'map' pk=pk %}">{{ lang_code }}</a></li>
                    {%endif%}

                
                {% endlanguage %}
            {% endfor %}
        </ul>     
{%endblock%}
{%block navbar%}
{%endblock%}
{%block home%}        
<section id="home" class="atlas_main_img" style="background-image: url({% static 'app/img/atlas.jpg' %});  background-size:cover; background-position: center center;">			
			<div class="container-fluid">
				<div class="row">
				  <div class="col-xs-24 text-center ">
					<div class="hero-text">
                        <h1 style="color:#ffffff">{% trans "Карта достопримечательностей" %}</h1>
					</div>
				  </div><!--- END COL -->			  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
{%endblock%}
{%block navbar2%}
                <div class="navbar-collapse collapse" id="navbar-second">
                 <ul class="nav navbar-nav" style="position: relative;  left: 50%; transform: translatex(-50%);  margin-top: -15px; display: inline-table;" >
                    <li class="nav-item"><a class="nav-link" href="{%url 'home' %}">{% trans "Главная" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'about1' %}">{% trans "О проекте" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/{{lg}}/#region_atlas">{% trans "Атлас регионов" %}</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/{{lg}}/#attraction_map">{% trans "Карта достопримечательностей" %}</a></li> 
                    <li class="nav-item"><a class="nav-link" href="/{{lg}}/#beautiful_places">{% trans "Красивые места" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/{{lg}}/#infoatlas">{% trans "Инфоатлас" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'atlas' %}">{% trans "Казахстан в цифрах" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'tourists' %}">{% trans "Для туристов" %}</a></li>
				</ul>                   
			  </div>
{%endblock%}
{%block content%}
<section id="about" class="complete-project-area counter_feature section-padding">           
			<div class="container-fluid-main" >                 
                <div class="row">
               <div class="col-md-12" data-aos="fade-up">
                <div class="section-title text-center" align="center">
                      <h2 style="padding-top:60px;  color:#FF9D7B">{% trans "Карта достопримечательностей" %}</h2>
                            <h3 style="color: #517381; text-transform: none;">{{pk}}</h3>
                       <span></span>
                   </div>
                   </div>
                <div class="col-md-10" data-aos="fade-up" style="padding-bottom:5%;">
                    {%if pk == 'город Алматы'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A5a0a5fed8e3a0733768d5e510bec9da40559e94bfda2e13ccc2fed5b7b075ed6&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%elif pk == 'Актюбинская область'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab384987bb5e3d3bd04cbbe74e9c7b4ee3a837f70af1ea1dcd263f3ababdcfb14&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%elif pk == 'Атырауская область'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Abfa484edc6bd7e456c2a6aca5abcc878969fe71e6c4c2d27185add05c796a4de&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%elif pk == 'Алматинская область'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A7056212cfdb1f77f491cc2a388bc2e7d39972a874db32005b3fb253c2f75e641&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%elif pk == 'Западно-Казахстанская область'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Abc53fa3c513dedcdf91f6252ad5ed562d28861f6522ea5cdc3ea623854db873c&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%elif pk == 'Карагандинская область'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A33dbdddfb1a1b4abfc90a1932d4d9351d7d12eef04dbc95cc1c813035d50529b&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%elif pk == 'Мангыстауская область'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1bf14d0ece46f7c312e0c5a6e47b87d078bfaeab37f8ed1482fc16dec806b5b1&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%elif pk == 'Северо-Казахстанская область'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Afdca73b1a4a9cbf63edb5a3b110ad847a0068ff811fb9542a9131786456b7b49&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%elif pk == 'город Шымкент'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A7530c882fb3c53759a36ffa0cdd9f7383704076cfbb25c2f7868fc299fc43a8b&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%elif pk == 'Костанайская область'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A61297e80d0afbe1e544f6f1e1ac52bfe2a4fd0b711ecea0de09cb87d787db891&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%elif pk == 'Павлодарская область'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Afdc6ffa9d4877903d10883cfd2103380e6cac3abf5adc72d2aa2b27c21bc2875&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%elif pk == 'Туркестанская область'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A6d6184182f37afc7c7c5f3c052264c82071858adc8ba62706691504a8dac2586&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%elif pk == 'Кызылординская область'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acf8818c5157d27d2d0ae3ea26e2b6e78b91ed7706a68c9dbcc60026dd63e4cec&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%elif pk == 'Акмолинская область'%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A87b9ae95e069bedabacd99e2ed6481957113570193159d7fa4c6c1c0f14ed92a&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%else%}
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A00399adebf24a02f509aa3cbbf3fa8a3d9497c0c1f350318baf39f944221e165&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
                    {%endif%}  
                </div>
                        
                     <div class="col-md-2" data-aos="fade-up" >
                        <ul class="menu">
                             {%if pk == 'город Алматы'%}
                            <li><a href="{% url 'map' pk='город Алматы'%}" style="color:#FF9D7B;">{% trans "город Алматы" %}</a> </li>
                            {%else%}
                            <li><a href="{% url 'map' pk='город Алматы'%}">{% trans "город Алматы" %}</a> </li>
                            {%endif%}
                        {%for i in names%}
                            {%if pk == i.name_ru%}
                            <li><a href="{% url 'map' pk=i.name_ru%}" style="color:#FF9D7B;">{{i.name_ru}}</a> </li>
                            {%else%}
                            <li><a href="{% url 'map' pk=i.name_ru%}">{{i.name_ru}}</a> </li>
                            {%endif%}
                        {%endfor%}
                        </ul>
                      </div>
                   
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>	
{%endblock%}	
{%block myscript%}
<script src="{% static 'app/scripts/scripts.js' %}"></script>
<div class="backbutton" style="opacity:1;" onclick="history.go(-1)">
             <img src="{% static 'app/img/back.png' %}" width="30%"> 
        </div>
{%endblock%}	    

