﻿{% extends 'app/layout.html' %}
{% load staticfiles %}
{%block mystyle%}
		<link rel="stylesheet" href="{% static 'app/content/style.css' %}">	
{%endblock%}
{%block lang%}
   <ul class="nav navbar-nav">
            {% load i18n %}
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                {% language lang_code %}

                {%if lang_code == 'kk' %}
                        <li class="nav-item "><a class="nav-link" href="{% url 'objects' pk=pk dist=dist%}">KZ</a></li>
                    {%else%}
                         <li class="nav-item "><a class="nav-link" href="{% url 'objects' pk=pk dist=dist%}">{{ lang_code }}</a></li>
                    {%endif%}

                
                {% endlanguage %}
            {% endfor %}
        </ul>     
{%endblock%}
{%block navbar%}
    <ul class="nav navbar-nav" style=" display: inline-block;  float: none;  vertical-align: top;">
        <li class="nav-item"><a class="nav-link" href="{%url 'home' %}">{% trans "Главная" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{%url 'about1' %}">{% trans "О проекте" %}</a></li>
        <li class="nav-item active"><a class="nav-link" href="/{{lg}}/#region_atlas">{% trans "Атлас регионов" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="/{{lg}}/#attraction_map">{% trans "Карта достопримечательностей" %}</a></li> 
        <li class="nav-item"><a class="nav-link" href="/{{lg}}/#beautiful_places">{% trans "Красивые места" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="/{{lg}}/#infoatlas">{% trans "Инфоатлас" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{%url 'atlas' %}">{% trans "Казахстан в цифрах" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'tourists' %}">{% trans "Для туристов" %}</a></li>
    </ul>
{%endblock%}
{%block home%}       
    <section id="home" class="atlas_main_img" style="background-image: url({% static 'app/img/atlas.jpg' %});  background-size:cover; background-position: center center;">			
			<div class="container-fluid">
				<div class="row">
				  <div class="col-xs-24 text-center ">
					<div class="hero-text">
                        <h1 style="color:#ffffff">{% trans "Каталог объектов" %}</h1style="color:#ffffff">
					</div>
				  </div><!--- END COL -->			  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
{%endblock%}
{%block navbar2%}
    <div class="navbar-collapse collapse" id="navbar-second">
        <ul class="nav navbar-nav" style="position: relative;  left: 50%; transform: translatex(-50%);  margin-top: -15px; display: inline-table;" >
            <li class="nav-item "><a class="nav-link" href="{% url 'regatlas' pk=pk%}">{% trans "О регионе" %}</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'objects' pk=pk dist=''%}">{% trans "Каталог объектов" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'top5' pk=pk%}">{% trans "Топ 5 мест" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'digest' pk=pk%}">{% trans "Дайджест о туризме" %}</a></li>  
        </ul>
    </div>                
{%endblock%}
{%block content%}
    <div class="container-fluid-main">
        <div class="row"> 
            <div class="col-md-12" data-aos="fade-up">
                <div class="section-title text-center">
                    <h2 style="margin-top:60px; color:#FF9D7B" align="center">{% trans "Достопримечательности" %}</h2>
                       {%for i in kn %}
                        {% with y=i.id|stringformat:"s" %}
                        {%if dist == y %}
                            {%if lg == 'en'%}
                                <h1 style="color: #517381">{{rn.name_en}}, {{i.name_en}}</h1>
                            {%elif lg == 'kk'%}
                                <h1 style="color: #517381">{{rn.name_kz}}, {{i.name_kz}}</h1>
                            {%else%}
                                <h1 style="color: #517381">{{rn.name_ru}}, {{i.name_ru}}</h1>
                            {%endif%}
                        {%endif%}
                        {%endwith%}
                        {%endfor%}
                        <span></span>
                </div>
            </div>
            <div class="col-md-10" data-aos="fade-up">
                <div id="my-slider" class="owl-carousel" >
                            {%for i in obj%}
                    <div class="single_package"  align="center"> 
                        {%for j in on%}
                                    {%if j.id == i.object_id%}
                                        {%if lg == 'en'%}
                                            <h3 align="center" style="text-transform: uppercase; font-weight:600">{{j.name_en}}</h3>
                                        {%elif lg == 'kk'%}
                                            <h3 align="center" style="text-transform: uppercase; font-weight:600">{{j.name_kz}}</h3>
                                        {%else%}
                                            <h3 align="center" style="text-transform: uppercase; font-weight:600">{{j.name_ru}}</h3>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                            <table class="regatlas-table" border ="0" align="center" width="100%">
                                <tr style="background:whitesmoke;">
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Тип объекта:" %} </p></td>
                                    {%for j in ot%}
                                    {%if j.id == i.object_type_id%}
                                        {%if lg == 'en'%}
                                            <td>{{j.type_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{j.type_kz}}</td>
                                        {%else%}
                                            <td>{{j.type_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                     <td rowspan="5" width="30%">
                                        {% with y=i.id|stringformat:"s" %}
                                        {%with dir=url|add:y|add:".jpg"%}
                                        <img class="img-fluid" align="middle" style="width: 100%; display:block" src="{% static dir %}" alt=""> 
                                    {%endwith%}{%endwith%}
                                    </td>
                                </tr>
                                <tr >
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Вид туризма:" %} </p> </td>
                                    {%for j in t%}
                                    {%if j.id == i.tourism_type_id%}
                                        {%if lg == 'en'%}
                                            <td>{{j.type_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{j.type_kz}}</td>
                                        {%else%}
                                            <td>{{j.type_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                                <tr style="background:whitesmoke;">
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Местоположение:" %} </p></td>
                                    {%for j in ol%}
                                    {%if j.id == i.object_id%}
                                        {%if lg == 'en'%}
                                            <td>{{j.location_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{j.location_kz}}</td>
                                        {%else%}
                                            <td>{{j.location_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                                <tr >
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Теги:" %} </p></td>
                                    {%for j in oa%}
                                    {%if j.id == i.object_id%}
                                        {%if lg == 'en'%}
                                            <td>{{j.tag_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{j.tag_kz}}</td>
                                        {%else%}
                                            <td>{{j.tag_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                                <tr style="background:whitesmoke;">
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Автор:" %} </p></td>
                                    {%for j in oa%}
                                    {%if j.id == i.object_id%}
                                        {%if lg == 'en'%}
                                            <td>{{j.author_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{j.author_kz}}</td>
                                        {%else%}
                                            <td>{{j.author_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                                <tr >
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Описание:" %} </p></td>
                                        {%if lg == 'en'%}
                                            <td colspan="2">{{i.description_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td colspan="2">{{i.description_kz}}</td>
                                        {%else%}
                                            <td colspan="2">{{i.description_ru}}</td>
                                        {%endif%}
                                </tr>
                                <tr >
                                    <td width="15%"></td>
                                    <td colspan="2">
                                    {%for j in ol%}
                                    {%if j.id == i.object_id%}
                                        <a  href={{j.map}} >{% trans "Посмотреть на карте" %} </a>     
                                    {%endif%}
                                 {%endfor%}</td>
                                </tr>
                            </table>
                    </div><!-- END SINGLE PACKAGE -->
                            {%endfor%}
                </div>
            </div>
            <div class="col-md-2" data-aos="fade-up" >
                <ul class="menu">                             
                        {%if pk == 'город Алматы'%}
                        <li><a href="{% url 'objects' pk='город Алматы' dist=''%}" style="color:#FF9D7B;">{% trans "город Алматы" %}</a> </li>
                    <li>
                                     <ul class="submenu">
                                         {%for i in kn %}
                                          {%for u in k%}
                                         {%if i.id == u.district_id %}
                                         {% with y=u.district_id|stringformat:"s" %}
                                         {%if dist == y %}
                                                {%if lg == 'en'%}
                                                    <li><a href="{% url 'objects' pk='город Алматы' dist=u.district_id%}" style=" color:#FF9D7B;">{{i.name_en}}</a> </li>
                                                {%elif lg == 'kk'%}
                                                    <li><a href="{% url 'objects' pk='город Алматы'  dist=u.district_id%}" style=" color:#FF9D7B;">{{i.name_kz}}</a> </li>
                                                {%else%}
                                                    <li><a href="{% url 'objects' pk='город Алматы'  dist=u.district_id%}" style=" color:#FF9D7B;">{{i.name_ru}}</a> </li>
                                                {%endif%}
                                         {%else%}
                                                {%if lg == 'en'%}
                                                    <li><a href="{% url 'objects' pk='город Алматы'  dist=u.district_id%}" >{{i.name_en}}</a> </li>
                                                {%elif lg == 'kk'%}
                                                    <li><a href="{% url 'objects' pk='город Алматы'  dist=u.district_id%}" >{{i.name_kz}}</a> </li>
                                                {%else%}
                                                    <li><a href="{% url 'objects' pk='город Алматы'  dist=u.district_id%}" >{{i.name_ru}}</a> </li>
                                                {%endif%}
                                         {%endif%}
                                         {%endwith%}
                                         {%endif%}
                                        {%endfor%}
                                         {%endfor%}
                                     </ul></li>
                        {%else%}
                       <li><a href="{% url 'objects' pk='город Алматы' dist=''%}">{% trans "город Алматы" %}</a> </li>
                         {%endif%}
                                {%for n in names%}
                                    {%if pk == n.name_ru %}
                                        {%if lg == 'en'%}
                                            <li><a href="{% url 'objects' pk=n.name_ru dist=''%}" style=" color:#FF9D7B;">{{n.name_en}}</a> </li>
                                        {%elif lg == 'kk'%}
                                            <li><a href="{% url 'objects' pk=n.name_ru dist=''%}" style=" color:#FF9D7B;">{{n.name_kz}}</a> </li>
                                        {%else%}
                                            <li><a href="{% url 'objects' pk=n.name_ru dist=''%}" style=" color:#FF9D7B;">{{n.name_ru}}</a> </li>
                                        {%endif%}
                                     <li>
                                     <ul class="submenu">
                                          {%for key, value in city.items%}
                                          {% with y=key|stringformat:"s" %}
                                            {%if dist == y%}
                                                 {%if lg == 'en'%}
                                                    <li><a href="{% url 'objects' pk=n.name_ru dist=y%}" style="color:#1C5970; text-decoration: underline;">{{value.2}}</a> </li>  
                                                {%elif lg == 'kk'%}
                                                    <li><a href="{% url 'objects' pk=n.name_ru dist=y%}" style="color:#1C5970; text-decoration: underline;">{{value.1}}</a> </li>  
                                                {%else%}
                                                    <li><a href="{% url 'objects' pk=n.name_ru dist=y%}" style="color:#1C5970; text-decoration: underline;">{{value.0}}</a> </li>  
                                                {%endif%}
                                                     
                                            {%else%}
                                                 {%if lg == 'en'%}
                                                    <li><a href="{% url 'objects' pk=n.name_ru dist=y%}" >{{value.2}}</a> </li>  
                                                {%elif lg == 'kk'%}
                                                    <li><a href="{% url 'objects' pk=n.name_ru dist=y%}">{{value.1}}</a> </li>  
                                                {%else%}
                                                    <li><a href="{% url 'objects' pk=n.name_ru dist=y%}" >{{value.0}}</a> </li>
                                                {%endif%}
                                            {%endif%}
                                         {%endwith%}
                                        {%endfor%}
                                         {%for i in kn %}
                                          {%for u in k%}
                                         {%if i.id == u.district_id %}
                                         {% with y=u.district_id|stringformat:"s" %}
                                         {%if dist == y %}
                                                {%if lg == 'en'%}
                                                    <li><a href="{% url 'objects' pk=n.name_ru dist=u.district_id%}" style=" color:#FF9D7B;">{{i.name_en}}</a> </li>
                                                {%elif lg == 'kk'%}
                                                    <li><a href="{% url 'objects' pk=n.name_ru dist=u.district_id%}" style=" color:#FF9D7B;">{{i.name_kz}}</a> </li>
                                                {%else%}
                                                    <li><a href="{% url 'objects' pk=n.name_ru dist=u.district_id%}" style=" color:#FF9D7B;">{{i.name_ru}}</a> </li>
                                                {%endif%}
                                         {%else%}
                                                {%if lg == 'en'%}
                                                    <li><a href="{% url 'objects' pk=n.name_ru dist=u.district_id%}" >{{i.name_en}}</a> </li>
                                                {%elif lg == 'kk'%}
                                                    <li><a href="{% url 'objects' pk=n.name_ru dist=u.district_id%}" >{{i.name_kz}}</a> </li>
                                                {%else%}
                                                    <li><a href="{% url 'objects' pk=n.name_ru dist=u.district_id%}" >{{i.name_ru}}</a> </li>
                                                {%endif%}
                                         {%endif%}
                                         {%endwith%}
                                         {%endif%}
                                        {%endfor%}
                                         {%endfor%}
                                     </ul></li>
                             {%else%}
                                        {%if lg == 'en'%}
                                            <li><a href="{% url 'objects' pk=n.name_ru dist=''%}">{{n.name_en}}</a> </li>
                                        {%elif lg == 'kk'%}
                                            <li><a href="{% url 'objects' pk=n.name_ru dist=''%}">{{n.name_kz}}</a> </li>
                                        {%else%}
                                            <li><a href="{% url 'objects' pk=n.name_ru dist=''%}">{{n.name_ru}}</a> </li>
                                        {%endif%}
                             
                             {%endif%}
                                {%endfor%}
                            </ul>
            </div>
         </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
{%endblock%}	
{%block myscript%}
<script src="{% static 'app/scripts/regatlas.js' %}"></script>
         <div class="backbutton" style="opacity:1;" onclick="history.go(-1)">
             <img src="{% static 'app/img/back.png' %}" width="30%"> 
        </div>
{%endblock%}	    

