﻿{% extends 'app/layout.html' %}
{% load staticfiles %}
{%block mystyle%}
		<link rel="stylesheet" href="{% static 'app/content/style.css' %}">	
{%endblock%}
{%block lang%}
      <ul class="nav navbar-nav">
            {% load i18n %}
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                {% language lang_code %}

                {%if lang_code == 'kk' %}
                       <li class="nav-item "><a class="nav-link" href="{% url 'regatlas' pk=pk %}">KZ</a></li>
                    {%else%}
                         <li class="nav-item "><a class="nav-link" href="{% url 'regatlas' pk=pk %}">{{ lang_code }}</a></li>
                    {%endif%}

                
                {% endlanguage %}
            {% endfor %}
        </ul>     
{%endblock%}
{%block navbar%}
        <ul class="nav navbar-nav" style=" display: inline-block;  float: none;  vertical-align: top;"> 
            <li class="nav-item"><a class="nav-link" href="{%url 'home' %}">{% trans "Главная" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{%url 'about1' %}">{% trans "О проекте" %}</a></li>
            <li class="nav-item active"><a class="nav-link" href="/{{lg}}/#region_atlas">{% trans "Атлас регионов" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="/{{lg}}/#attraction_map">{% trans "Карта достопримечательностей" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="/{{lg}}/#beautiful_places">{% trans "Красивые места" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="/{{lg}}/#infoatlas">{% trans "Инфоатлас" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{%url 'atlas' %}">{% trans "Казахстан в цифрах" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'tourists' %}">{% trans "Для туристов" %}</a></li>
        </ul>
{%endblock%}
{%block home%} 
    <section id="home" class="atlas_main_img" style="background-image: url({% static 'app/img/atlas.jpg' %});  background-size:cover; background-position: center center;">			
			<div class="container-fluid">
				<div class="row">
				  <div class="col-xs-24 text-center ">
					<div class="hero-text">
                        <h1 style="color:#ffffff">{% trans "Атлас регионов" %}</h1>
					</div>
				  </div><!--- END COL -->			  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
{%endblock%}
{%block navbar2%}
        <div class="navbar-collapse collapse" id="navbar-second">
                <ul class="nav navbar-nav" style="position: relative;  left: 50%; transform: translatex(-50%);  margin-top: -15px; display: inline-table;" >
                    <li class="nav-item active"><a class="nav-link" href="{% url 'regatlas' pk=pk%}">{% trans "О регионе" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'objects' pk=pk dist=''%}">{% trans "Каталог объектов" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'top5' pk=pk%}">{% trans "Топ 5 мест" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'digest' pk=pk %}">{% trans "Дайджест о туризме" %}</a></li>             
				</ul>
	    </div>
{%endblock%}
{%block content%}
    <section id="about" class="complete-project-area counter_feature section-padding">    
        <div class="container-fluid-main" > 
            <div class="row">
                <div class="col-md-12" data-aos="fade-up">
                    <div class="section-title text-center" align="center">
                      <h2 style="padding-top:60px;  color:#FF9D7B"">{% trans "О регионе" %}</h2>
                        {%if lg == 'en'%}
                            <h3 style="color: #517381">{{rn.name_en}}</h3>
                        {%elif lg == 'kz'%}
                            <h3 style="color: #517381">{{rn.name_kk}}</h3>
                        {%else%}
                            <h3 style="color: #517381">{{rn.name_ru}}</h3>
                        {%endif%}
                       <span></span>
                    </div>
                </div>
                <div class="col-md-10" data-aos="fade-up">
                            <table class="regatlas-table" style="width:100%;">
                                <tr >
                                    <td width="20%"><p style="font-style: italic; font-weight: 600;">{% trans "Население: " %}</td>
                                    <td  width="80%">{{r.population}}{% trans " человек" %}</td>
                                </tr>
                                <tr style="background:whitesmoke;">
                                    <td width="20%"><p style="font-style: italic; font-weight: 600;">{% trans "Территория: " %}</td>
                                    <td>{{r.territory}}  км²</td>
                                </tr>
                                <tr >
                                    <td width="20%"><p style="font-style: italic; font-weight: 600;">{% trans "Граница: " %}</td>
                                    {%for n in border%}
                                    {%if r.id == n.region_id%}
                                        {%if lg == 'en'%}
                                            <td>{{n.borders_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{n.borders_kz}}</td>
                                        {%else%}
                                            <td>{{n.borders_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                                <tr style="background:whitesmoke;">
                                    <td width="20%"><p style="font-style: italic; font-weight: 600;">{% trans "Административный центр: " %}</td>
                                    {%for n in admin%}
                                    {%if r.id == n.region_id%}
                                        {%if lg == 'en'%}
                                            <td>{{n.admin_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{n.admin_kz}}</td>
                                        {%else%}
                                            <td>{{n.admin_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                                <tr >
                                    <td width="20%"><p style="font-style: italic; font-weight: 600;">{% trans "Население административного центра: " %}</td>
                                    {%for n in admin%}
                                    {%if r.id == n.region_id%}
                                    <td>{{n.population}}{% trans " человек" %}</td>
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                                <tr style="background:whitesmoke;">
                                    <td width="20%"><p style="font-style: italic; font-weight: 600;">{% trans "Справка: " %}</td>
                                    {%for n in sp%}
                                    {%if r.id == n.region_id%}
                                        {%if lg == 'en'%}
                                            <td>{{n.directory_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{n.directory_kz}}</td>
                                        {%else%}
                                            <td>{{n.directory_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                                <tr >
                                    <td width="20%"><p style="font-style: italic; font-weight: 600;">{% trans "Сайт акимата: " %}</td>
                                    <td><a href={{r.site}}>{{r.site}}</a></td>
                                </tr>
                                 <tr >
                                    <td width="20%"> </td>
                                    <td><a href={{r.map}} align="center" style="font-family: Roboto;font-size: 22px;vertical-align: text-top;">{% trans "Посмотреть на карте" %}</a></a></td>
                                </tr> 
                            </table>
                    <div class="section-title text-center">
						<br/>
                        <hr>
                        <h3 style="color: #517381">{% trans "Районы" %}</h3>
                        <hr>
                    </div> 
                    <div id="my-slider" class="owl-carousel">
                            {%for i in d%}
                        <div class="single_package" align="center"> 
                            <table  class="regatlas-table" align="center" width="100%">
                               <tr >
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Название: " %}</td>
                                    {%for j in dn%}
                                    {%if j.id == i.district_id%}
                                        {%if lg == 'en'%}
                                            <td>{{j.name_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{j.name_kz}}</td>
                                        {%else%}
                                            <td>{{j.name_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                               
                                <tr  style="background:whitesmoke;">
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Описание: " %}</td>
                                        {%if lg == 'en'%}
                                            <td>{{i.description_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{i.description_kz}}</td>
                                        {%else%}
                                            <td>{{i.description_ru}}</td>
                                        {%endif%}
                                </tr>
                                 <tr >
                                    <td width="20%"><p style="font-style: italic; font-weight: 600;">{% trans "Достопримечательности: " %}</td>
                                    <td><a href="{% url 'objects' pk=pk dist=i.id%}" width="80%">{% trans "Перейти к достопримeчательностям района" %}</a></td>
                                </tr>
                            </table>
                        </div>
                            {%endfor%}
					</div>
                </div>
                <div class="col-md-2" data-aos="fade-up" >
                    <ul class="menu">
                        {%if pk == 'город Алматы'%}
                        <li><a href="{% url 'regatlas' pk='город Алматы'%}" style="color:#FF9D7B;">{% trans "город Алматы" %}</a> </li>
                        {%else%}
                        <li><a href="{% url 'regatlas' pk='город Алматы'%}">{% trans "город Алматы" %}</a> </li>
                        {%endif%}
                        {%for n in names%}
                    </ul>
                    <ul class="menu">
                         {%if pk == n.name_ru%}
                                        {%if lg == 'en'%}
                                            <li><a href="{% url 'regatlas' pk=n.name_ru%}" style="color:#FF9D7B;">{{n.name_en}}</a> </li>
                                        {%elif lg == 'kk'%}
                                            <li><a href="{% url 'regatlas' pk=n.name_ru%}" style="color:#FF9D7B;">{{n.name_kz}}</a> </li>
                                        {%else%}
                                            <li><a href="{% url 'regatlas' pk=n.name_ru%}" style="color:#FF9D7B;">{{n.name_ru}}</a> </li>
                                        {%endif%}
                         {%else%}
                                        {%if lg == 'en'%}
                                            <li><a href="{% url 'regatlas' pk=n.name_ru%}" >{{n.name_en}}</a> </li>
                                        {%elif lg == 'kk'%}
                                            <li><a href="{% url 'regatlas' pk=n.name_ru%}" >{{n.name_kz}}</a> </li>
                                        {%else%}
                                            <li><a href="{% url 'regatlas' pk=n.name_ru%}" >{{n.name_ru}}</a> </li>
                                        {%endif%}
                         {%endif%}
                    </ul>
                        {%endfor%}
                </div>
            </div><!-- END ROW -->
		</div><!-- END CONTAINER -->
	</section>
{%endblock%}	
{%block myscript%}
<script src="{% static 'app/scripts/regatlas.js' %}"></script>
         <div class="backbutton" style="opacity:1;" onclick="history.go(-1)">
             <img src="{% static 'app/img/back.png' %}" width="30%"> 
        </div>
{%endblock%}	    

