﻿{% extends 'app/layout.html' %}

{% load staticfiles %}
{%block mystyle%}
		<link rel="stylesheet" href="{% static 'app/content/style.css' %}">	
{%endblock%}
{%block lang%}
    <ul class="nav navbar-nav">
            {% load i18n %}
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                {% language lang_code %}

                {%if lang_code == 'kk' %}
                        <li class="nav-item "><a class="nav-link" href="{% url 'restaurants' %}">KZ</a></li>
                    {%else%}
                         <li class="nav-item "><a class="nav-link" href="{% url 'restaurants' %}">{{ lang_code }}</a></li>
                    {%endif%}

                
                {% endlanguage %}
            {% endfor %}
        </ul>     
{%endblock%}

{%block navbar%}
        <ul class="nav navbar-nav" style=" display: inline-block;  float: none;  vertical-align: top;"> 
            <li class="nav-item"><a class="nav-link" href="{%url 'home' %}">{% trans "Главная" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{%url 'about1' %}">{% trans "О проекте" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="/{{lg}}/#region_atlas">{% trans "Атлас регионов" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="/{{lg}}/#attraction_map">{% trans "Карта достопримечательностей" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="/{{lg}}/#beautiful_places">{% trans "Красивые места" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="/{{lg}}/#infoatlas">{% trans "Инфоатлас" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{%url 'atlas' %}">{% trans "Казахстан в цифрах" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{%url 'tourists' %}">{% trans "Для туристов" %}</a></li>
            
        </ul>
{%endblock%}
{%block home%} 
    <section id="home" class="atlas_main_img" style="background-image: url({% static 'app/img/background_fortourists.jpg' %});  background-size:cover; background-position: center center;">			
			<div class="container-fluid">
				<div class="row">
				  <div class="col-xs-24 text-center ">
					<div class="hero-text">
                        <h1 style="color:#415367">{% trans "Для Туристов" %}</h1>
					</div>
				  </div><!--- END COL -->			  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
{%endblock%}

{%block navbar2%}
        <div class="navbar-collapse collapse" id="navbar-second">
                <ul class="nav navbar-nav" style="position: relative;  left: 50%; transform: translatex(-50%);  margin-top: -15px; display: inline-table;" >
                    <li class="nav-item"><a class="nav-link" href="{% url 'tourists'%}">{% trans "Отели" %}</a></li>
                    <li class="nav-item active"><a class="nav-link" href="{% url 'restaurants' %}">{% trans "Рестораны" %}</a></li>
                   
				</ul>
	    </div>
{%endblock%}

{%block content%}
                    <div class="section-title text-center" align="center">
                        <h2 style="padding-top:40px;  color:#FF9D7B">{% trans "Для туристов" %}</h2>
                        <h3 style="color:#517381">{% trans "Рестораны" %}</h3>
                        <span></span>
                    </div>
                      
                    <div class="text-center" >
                         <iframe width="100%" height="100%" src="https://app.powerbi.com/view?r=eyJrIjoiZjdjY2FhODUtYTY4NS00MjI3LWI2N2ItMzc3Mzg4OWYyOWRmIiwidCI6ImIwYWI3MWE1LTc1YjEtNGQ2NS04MWY3LWY0NzliNDk3OGQ3YiIsImMiOjl9" frameborder="0"  allowFullScreen="true"></iframe>
                        {#<table class="table" border="1" style="padding-top:60px" align="center">
                            <tr>
                                <td><p style="font-style: italic; font-weight: 600;" align="center">{% trans "Наименование" %}</td>
                                <td><p style="font-style: italic; font-weight: 600;" align="center">{% trans "Количество номеров" %}</td>
                                <td><p style="font-style: italic; font-weight: 600;" align="center">{% trans "Количество звезд" %}</td>
                                <td><p style="font-style: italic; font-weight: 600;" align="center">{% trans "Адрес" %}</td>
                                <td><p style="font-style: italic; font-weight: 600;" align="center">{% trans "Сайт" %}</td>
                                <td><p style="font-style: italic; font-weight: 600;" align="center">{% trans "Телефоны" %}</td>
                            </tr>
                            {%if lg == 'en'%}
                                {% for i in ha %}
                                <tr align="center">
                                  <td>{{ i.hotel.name.name_en }}</td>
                                  <td>{{ i.hotel.quantity }}</td>
                                  <td>{{ i.hotel.value }}</td>
                                  <td>{{ i.address_en }}</td>
                                  <td>{{ i.hotel.site }}</td>
                                  <td>{{ i.phone }}</td>
                                </tr>
                                {% endfor %}
                            {%elif lg == 'kz'%}
                                {% for i in ha %}
                                <tr align="center">
                                  <td>{{ i.hotel.name.name_kz }}</td>
                                  <td>{{ i.hotel.quantity }}</td>
                                  <td>{{ i.hotel.value }}</td>
                                  <td>{{ i.address_kz }}</td>
                                  <td>{{ i.hotel.site }}</td>
                                  <td>{{ i.phone }}</td>
                                </tr>
                                {% endfor %}
                            {%else%}
                                {% for i in ha %}
                                <tr align="center">
                                  <td>{{ i.hotel.name.name_ru }}</td>
                                  <td>{{ i.hotel.quantity }}</td>
                                  <td>{{ i.hotel.value }}</td>
                                  <td>{{ i.address_ru }}</td>
                                  <td>{{ i.hotel.site }}</td>
                                  <td>{{ i.phone }}</td>
                                </tr>
                                {% endfor %}
                            {%endif%}
                        </table>#}
                    </div>
                    
{%endblock%}



{%block myscript%}
<script src="{% static 'app/scripts/scripts.js' %}"></script>
{%endblock%}	    
	  