﻿{% extends 'app/layout.html' %}
{% load staticfiles %}
{%block mystyle%}
		<link rel="stylesheet" href="{% static 'app/content/style.css' %}">	
{%endblock%}
{%block lang%}
   <ul class="nav navbar-nav">
            {% load i18n %}
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                {% language lang_code %}

                {%if lang_code == 'kk' %}
                        <li class="nav-item "><a class="nav-link" href="{% url 'top5' pk=pk%}">KZ</a></li>
                    {%else%}
                         <li class="nav-item "><a class="nav-link" href="{% url 'top5' pk=pk%}">{{ lang_code }}</a></li>
                    {%endif%}

                
                {% endlanguage %}
            {% endfor %}
        </ul>     
{%endblock%}     {% trans "" %}
{%block navbar%}
    <ul class="nav navbar-nav" style=" display: inline-block;  float: none;  vertical-align: top;"> 
        <li class="nav-item"><a class="nav-link" href="{%url 'home' %}">{% trans "Главная" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'about1'%}">{% trans "О проекте" %}</a></li>
        <li class="nav-item active"><a class="nav-link" href="/{{lg}}/#region_atlas">{% trans "Атлас регионов" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="/{{lg}}/#attraction_map">{% trans "Карта достопримечательностей" %}</a></li> 
        <li class="nav-item"><a class="nav-link" href="/{{lg}}/#beautiful_places">{% trans "Красивые места" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="/{{lg}}/#infoatlas">{% trans "Инфоатлас" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{%url 'atlas' %}">{% trans "Казахстан в цифрах" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'tourists' %}">{% trans "Для туристов" %}</a></li>
    </ul>
{%endblock%}
{%block home%}        
    <section id="home" class="atlas_main_img" style="background-image: url({% static 'app/img/atlas.jpg' %});  background-size:cover; background-position: center center;">			
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-24 text-center ">
                    <div class="hero-text">
                        <h1 style="color:#ffffff">{% trans "Топ 5 мест" %}</h1>
					</div>
                </div><!--- END COL -->	
            </div><!--- END ROW -->
	    </div><!--- END CONTAINER -->
    </section>
{%endblock%}
{%block navbar2%}
    <div class="navbar-collapse collapse" id="navbar-second">
        <ul class="nav navbar-nav" style="position: relative;  left: 50%; transform: translatex(-50%);  margin-top: -15px; display: inline-table;" width="100%" >
            <li class="nav-item "><a class="nav-link" href="{% url 'regatlas' pk=pk%}">{% trans "О регионе" %}</a></li>
            <li class="nav-item "><a class="nav-link" href="{% url 'objects' pk=pk dist=''%}">{% trans "Каталог объектов" %}</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'top5' pk=pk%}">{% trans "Топ 5 мест" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'digest' pk=pk %}">{% trans "Дайджест о туризме" %}</a></li>     
        </ul>
    </div>
{%endblock%}
{%block content%}
    <div class="container-fluid-main">
            <div class="row">
           <div class="col-md-12" data-aos="fade-up">
                    <div class="section-title text-center">
							<h2  style="padding-top:60px;">{% trans "Топ 5 мест" %}</h2>
                            <span></span>
						</div>
                
                    <div id="my-slider" class="owl-carousel">
                        {%for i in obj%}
							<div class="single_package"> 
                            <div class="section-title text-center">
                                {%for j in on%}
                                    {%if j.id == i.object_id%}
                                        {%if lg == 'en'%}
                                            <h3>{{j.name_en}}</h3>
                                        {%elif lg == 'kk'%}
                                            <h3>{{j.name_kz}}</h3>
                                        {%else%}
                                            <h3>{{j.name_ru}}</h3>
                                        {%endif%}
                                 {%endif%}
                                    {%endfor%}
                   </div>
                            <table class="regatlas-table" border ="0" align="center" width="100%">
                                <tr style="background:whitesmoke;">
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Тип объекта: " %}</p></td>
                                    {%for j in ot%}
                                    {%if j.id == i.object_type_id%}
                                        {%if lg == 'en'%}
                                            <td>{{j.type_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{j.type_kz}}</td>
                                        {%else%}
                                            <td>{{j.type_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                    <td rowspan="5" width="30%">
                                        {% with y=i.id|stringformat:"s" %}
                                        {%with dir=url|add:y|add:".jpg"%}
                                        <img class="img-fluid" width="100%"  src="{% static dir %}" alt=""> 
                                    {%endwith%}{%endwith%}
                                    </td>
                                </tr>
                                <tr >
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Вид туризма: " %}</p> </td>
                                    {%for j in t%}
                                    {%if j.id == i.tourism_type_id%}
                                        {%if lg == 'en'%}
                                            <td>{{j.type_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{j.type_kz}}</td>
                                        {%else%}
                                            <td>{{j.type_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                                <tr style="background:whitesmoke;">
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Местоположение: " %}</p></td>
                                    {%for j in ol%}
                                    {%if j.id == i.object_id%}
                                        {%if lg == 'en'%}
                                            <td>{{j.location_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{j.location_kz}}</td>
                                        {%else%}
                                            <td>{{j.location_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                                <tr >
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Теги: " %}</p></td>
                                    {%for j in oa%}
                                    {%if j.id == i.object_id%}
                                        {%if lg == 'en'%}
                                            <td>{{j.tag_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{j.tag_kz}}</td>
                                        {%else%}
                                            <td>{{j.tag_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                                <tr style="background:whitesmoke;">
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Автор: " %}</p></td>
                                    {%for j in oa%}
                                    {%if j.id == i.object_id%}
                                        {%if lg == 'en'%}
                                            <td>{{j.author_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td>{{j.author_kz}}</td>
                                        {%else%}
                                            <td>{{j.author_ru}}</td>
                                        {%endif%}
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                                <tr >
                                    <td width="15%"><p style="font-style: italic; font-weight: 600;">{% trans "Описание: " %}</p></td>
                                        {%if lg == 'en'%}
                                            <td colspan="2">{{i.description_en}}</td>
                                        {%elif lg == 'kk'%}
                                            <td colspan="2">{{i.description_kz}}</td>
                                        {%else%}
                                            <td colspan="2">{{i.description_ru}}</td>
                                        {%endif%}
                                </tr>
                                </table>
							</div><!-- END SINGLE PACKAGE -->
                            {%endfor%}
						</div>
                        </div>
                    
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
{%endblock%}	
{%block myscript%}
<script src="{% static 'app/scripts/regatlas.js' %}"></script>

<div class="backbutton" style="opacity:1;" onclick="history.go(-1)">
             <img src="{% static 'app/img/back.png' %}" width="30%"> 
        </div>
{%endblock%}	    

